.layout {
  display: flex;
  .wrapper {
    display: block;
    max-width: 100%;
    width: 50%;
    .wrapper_text {
      font-family: "Neue Machina";
      font-size: 2em;
      font-weight: bold;
    }
    .info {
      max-width: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .wrapper_counter {
    display: flex;
    font-family: "Neue Machina";
    color: white;
    background-color: white;
    border-radius: 3.125em;
    width: 80%;
    justify-content: center;
    text-align: center;

    h1{
      font-size: 3.9em;
      font-weight: bolde;
      color: #e31c34;
      span{
        color: green;
        

      }
    }
  
  }
}
