.layout {
  display: flex;
  .wrapper {
    display: block;
    max-width: 100%;
    width: 50%;
    .wrapper_text {
      font-family: "Neue Machina";
      font-size: 2em;
      font-weight: bold;
    }
    .info {
      max-width: 100%;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .wrapper_counter {
    display: block;
    margin-top: -5em;
    padding-left: 25em;
    
    
    .counter_head {
      display: block;
      position: relative;
      padding-top: 18em;
      padding-left: 1.5em;
      width: 42%;
    }
    .counter_base {
      margin-top: -1.9em;
      width: 47%;
    }
  }
}
