.layout {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.wrapper {
  position: relative;
  text-align: center;
  width: 48%; 
  
  &.left {
    width: 30%; 

    .centered {
      margin-left: 0;
    }

    .overlapping-images {
      position: relative;
      width: 100%; 
      margin-top: 20px; 
      
      .pot-image {
        width: 60%; 
        max-width: 300px; 
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px; 
      }

      .leaf-image {
        width: 60%; 
        max-width: 250px; 
        position: absolute;
        top: 10%; 
        left: 50%; 
        transform: translateX(-50%); 
        z-index: 1; 
      }

      .number {
        position: absolute;
        top: 25%; 
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Neue Machina', sans-serif;
        font-size: 2em; 
        color: white;
        font-weight: bold;
        z-index: 2; 
      }
    }
  }

  &.right {
    width: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-width: 100%; 
      height: auto; 
    }
  }
}

.centered {
  display: block;
}

@media screen and (max-width: 768px) {
  .layout {
    flex-direction: column; 
    align-items: center;
  }

  .wrapper {
    width: 100%; 
    margin-bottom: 1rem;

    &.left {
      width: 100%; 
      .overlapping-images {
        position: relative; 
        width: 100%; 
        margin-top: 10px; 

        .pot-image {
          width: 80%; 
          max-width: 300px; 
          margin-top: 10px; 
        }

        .leaf-image {
          width: 80%; 
          max-width: 250px; 
          position: absolute; 
          top: 0; 
          left: 50%; 
          transform: translateX(-50%); 
          margin-top: -80px; 
        }

        .number {
          font-size: 1.5em; 
          margin-top: 0; 
          top: 20%; 
        }
      }
    }

    &.right {
      width: 100%; 
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-width: 90%; 
      }
    }
  }
}
