<div class="container  border rounded navcustom border" style="background: #edf6f9;">
    <div class="row ">
      <div class="col">
          <h6>На странице вы можете просмотреть уже отмеченные точки.</h6>
          <p>Чтобы добавить новую точку, просто нажмите на иконку на карте  
            <button type="button" class="btn btn-danger btn-sm" style="height: 24px;" onclick="goToLink()">
                <!-- <div style="margin-top: 5px;" > -->
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-top: -8px;" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                    <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                </svg>
            </button>
            <!-- </div> -->
          </p>
      </div>
    </div>
  </div>
  <br>