<!--Navbar Start-->
{% comment %} 
<nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../media/logo/new-logo-2.png" alt="EMCO.TECH" width="" height="30">
      </a>
      <a class="navbar-brand" href="#">
        <img src="../media/logo/logo-10.svg" alt="EMCO" width="" height="30">
      </a>
      <h4>Интерактивная карта </h6>
      несанкционированных свалок Углегорского района  
    </div>
  </nav>
  {% endcomment %}
<br>
<style>
    .navcustom {
        padding-top: 8px;
    }
</style>




<div class="container text-center  rounded navcustom" >
  <div class="row ">
    <div class="col">
        <img src="../media/logo/new-logo-2.png" alt="EMCO.TECH" width="100px" height="">
        <img src="../media/logo/logo-10.svg" alt="EMCO" width="92px" height="">
    </div>
    {% comment %} <div class="col">
        <img src="../media/logo/logo-10.svg" alt="EMCO" width="" height="24">
    </div> {% endcomment %}
    <div class="col">
      <h6>Интерактивная карта несанкционированных свалок </h6>
  </div>
  </div>
</div>
<br>

<!-- <div class="container text-center border rounded navcustom shadow-sm" >
  <div class="row ">
<div class="card border-light" >
  {% comment %} style="max-width: 540px;" {% endcomment %}
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../media/logo/new-logo-2.png" class="img-fluid rounded-start" width="100px" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Интерактивная карта несанкционированных свалок </h5>
      </div>
    </div>
  </div>
</div>
</div>
</div> -->