<style>
    .navcustom {
        padding-top: 8px;
    }
</style>
<div class="container text-center  rounded navcustom shadow " >
    <div class="row ">
      <div class="col">
          <img src="../media/logo/new-logo-2.png" alt="EMCO.TECH" width="100px" height="">
      </div>
      <div class="col">
          <img src="../media/logo/logo-10.svg" alt="EMCO" width="92px" height="">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col text-danger">
        {% comment %} <h5>Отметь на карте свалку -
            сделай район чище!</h5> {% endcomment %}
    </div>
    </div>
  </div>
  <br>



  
