.upline {
  width: auto;
  height: 26px;
  background-color: black;
  
}


.round_button {
  width: 38px;
  height: 38px;
  border-radius: 60px;
  z-index: 3;
  
}

#circle {
  width: 89px;
  height: 89px;
  background: #7fee1d;
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  position: absolute ;
  z-index: 1;
}

.emco_tech_logo{
    margin:  10px 22px 25px 25px;
    display: inline-block;
    
}

.exmpl_container{
    border-right: 1px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: black;
    border-radius: 0 60px 60px 0  ;
    margin:10%;
    padding:  10px 26px 10px 0;
    z-index: 2;
}
.logo_emco_tech,.logo_emco {
  margin-left:15px ;
  margin-right: 15px;
}
