footer {
  position: relative;
  padding: 2em;
  padding-top: 2em;
  height: 6.33rem;
  width: 100%;
  min-height: 100%;
  background-color: black;

  .footer__text {
    color: white;
    max-width: 100%;
    height: auto;
    .footer__image {
      text-align: right;
      margin: 0 auto;
      margin-top: -50px;
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    margin: 0 auto;
    height: auto;
    .footer__text {
      .footer__image {
        margin: 0 auto;
      }
    }
  }
}
