.footer-bottom{
    position: fixed;
    bottom: 0%;
    height: 50px;
    padding: 1em;
    padding-top: 2em;
    
    max-width: 100%;
    min-width: 100%;
    padding: 2em;
    background-color: black;
    
    .container{
       

    }
    .text{
        color: white;
        max-width: 100%;
        word-wrap: break-word; 
        p{     
    }
}}