.footer {
  background-color: black;
  color: white;
  text-align: left; /* Выравнивание основного контента по левому краю */
  padding: 1em; /* Отступы для контента внутри футера */
  max-height: 200px;

  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__text {
    max-width: 60%; /* Ширина текста, занимающего большую часть контейнера */
    font-size: 14px; /* Размер шрифта текста */
  }

  .footer__image {
    max-width: 40%; /* Ширина изображения, занимающего меньшую часть контейнера */
    text-align: right; /* Выравнивание изображения по правому краю */
  }

  img {
    max-width: 100%; /* Изображение занимает всю доступную ширину */
    height: auto; /* Поддержка пропорций изображения */
  }

  @media screen and (max-width: 768px) {
    .footer {
      padding: 0.5em; /* Уменьшаем внутренние отступы для мобильных устройств */
      min-height: 3rem; /* Еще меньшая высота футера для мобильных устройств */
    }

    .footer__content {
      flex-direction: column; /* Располагаем элементы колонкой на мобильных устройствах */
    }

    .footer__text {
      max-width: 100%; /* Ширина текста на мобильных устройствах */
      text-align: left; /* Выравнивание текста по левому краю */
    }

    .footer__image {
      max-width: 100%; /* Ширина изображения на мобильных устройствах */
      text-align: left; /* Выравнивание изображения по левому краю */
      margin-top: 0.5em; /* Отступ сверху для изображения на мобильных устройствах */
    }
  }
}
