$ui-step: 0.25rem;

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  #{$property}: $value;
}

@mixin display-flex() {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@mixin justify-content($value) {
  -webkit-box-pack: $value;
  -ms-flex-pack: $value;
  justify-content: $value;
}

@mixin align-items($value) {
  -webkit-box-align: $value;
  -ms-flex-align: $value;
  align-items: $value;
}

@mixin flex-direction-column() {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

@mixin width-fit-content() {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

@mixin height-fit-content() {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@mixin ui-space($direction, $size) {
  @if ($direction == top) {
    margin-top: $ui-step * $size;
  }

  @if ($direction == bottom) {
    margin-bottom: $ui-step * $size;
  }

  @if ($direction == left) {
    margin-left: $ui-step * $size;
  }

  @if ($direction == right) {
    margin-right: $ui-step * $size;
  }
}
