.complaint-container {
    padding: 20px;
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Добавляем для позиционирования всплывающего сообщения */
}

.complaint-container h1 {
    text-align: center;
}

.complaint-container p {
    margin-bottom: 20px;
    text-align: justify;
}

.complaint-form {
    display: flex;
    flex-direction: column;

    label {
        margin-bottom: 15px;
        font-weight: bold;
    }

    input[type="text"],
    input[type="datetime-local"],
    input[type="file"],
    textarea {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        resize: vertical;
    }

    textarea {
        min-height: 100px;
    }

    button {
        padding: 10px 15px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: #0056b3;
        }
    }

    .error-message {
        margin-top: 20px;
        text-align: center;
        color: red;
        font-weight: bold;
    }
}

.notice {
    position: fixed;
    bottom: -100px; /* Начальное положение вне экрана */
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    background-color: #ffc107;
    color: #333;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideIn 1s forwards, slideOut 1s 9s forwards; /* Анимация появления и исчезновения */
}

@keyframes slideIn {
    to {
        bottom: 20px; /* Положение на экране */
    }
}

@keyframes slideOut {
    to {
        bottom: -100px; /* Исчезает обратно вниз */
    }
}
