.layout {
display: flex;

  .wrapper1{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    
  }
  .wrapper {
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -25px;
    z-index: 0;
    color: white;
    background-color: black;
    border-radius: 3.0625rem;
    max-width: 100%;
    width: 28.125rem;
    height: 6.25rem;
    width: 50%;
    .wrapper-txt{
      
    }

    button {
      z-index: -1;
      margin-top: 12em;
      margin-left: -16em;
      margin-right: auto;
    }
  }
  
}
