.map_body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.form-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 350px;
  padding: 1rem;
  background-color: #ffffff;
  margin-top: 2rem;
  border-radius: 20px;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
  opacity: 0;
  padding: 0 1rem; /* Скрываем padding, когда форма закрыта */
  
}

.form-container.show {
  opacity: 1;
  transform: translateY(0);

  max-height: 500px; /* Увеличьте это значение в зависимости от размера формы */
  opacity: 1;
  padding: 1rem; /* Восстанавливаем padding, когда форма открыта */
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form input,
.form-container form textarea,
.form-container form button {
  margin-bottom: 0.8rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.form-container form button {
  position: relative;
  background-color: #ff0000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  width: fit-content;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  height: 45px;
  font-size: 1.1rem;
  z-index: 2;
  bottom: 5px;
}

.form-container form button::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1d1d1b;
  border-radius: 20px;
  z-index: -1;
}

.form-container form button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0000;
  border-radius: 20px;
  z-index: -1;
}

.buttons {
  margin-top: 1rem;
}

.buttons button {
  background-color: white;
  color: black;
  border: none;
  padding: 1rem 1rem;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 20px;
  margin: 0 0.5rem;
}

.buttons button svg {
  margin-right: 0.5rem;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20rem;
  margin-top: 2rem;
  justify-content: center;
}

.first-image-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.first-image,
.second-image {
  width: 550px;
  height: 80px;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 40px 0px 40px;
}

.first-image::before,
.second-image::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
}

.first-image::before {
  top: 0;
  left: 0;
  border-width: 0 40px 40px 0;
  border-color: transparent #fff transparent transparent;
  border-radius: 0 60px 60px 0;
}

.second-image::before {
  bottom: 0;
  right: 0;
  border-width: 40px 0 0 40px;
  border-color: transparent transparent transparent #fff;
  border-radius: 30px 0px 40px;
}

.sub-images {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10rem;
  justify-content: center;
}

.sub-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sub-image-box {
  width: 40px;
  height: 48px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

.sub-image-box.red {
  background-image: url("../../../../../shared/icon/Vector red.png");
}

.sub-image-box.green {
  background-image: url("../../../../../shared/icon/Vector green.png");
}

.sub-image img {
  width: 80px;
  height: 60px;
  margin-bottom: 0.5rem;
}

.label {
  font-size: 0.8rem;
  color: #333;
  text-align: center;
  white-space: nowrap;
}

.second-image-text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 1.5rem;
  color: #000;
  text-align: center;
  font-family: 'Neue Machina', sans-serif;
  font-weight: 900;
}

.red-text {
  color: red;
}

.green-text {
  color: green;
}

@media (max-width: 1438px) {
  .image-gallery {
    flex-direction: column;
    gap: 0.5rem;
    width: 100%; 
    padding: 0 1rem; 
    box-sizing: border-box; 
  }

  .first-image-container {
    order: 1;
    width: 100%; 
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    position: relative;
    margin: 1rem auto 0 auto;
    box-sizing: border-box; 
    border-radius: 40px 40px 40px 40px;

  }

  .first-image,
  .second-image {
    width: 100%;
    max-width: 100%; 
    height: 70px; 
    margin: 0 auto;
    display: block;
    background-color: #fff;
    position: relative;
    padding: 1rem;
    box-sizing: border-box; 
    
  }
  .first-image {
    width: 100%; /* Ограничиваем ширину */
    max-width: 100%; /* Предотвращаем превышение ширины экрана */
    height: 70px; /* Устанавливаем одинаковую высоту */
    margin: 0 auto;
    display: block;
    background-color: #fff;
    position: relative;
    padding: 1rem;
    box-sizing: border-box; /* Учитываем padding в ширину элемента */
    border-radius: 20px 20px 0 0; /* Делаем верхние углы круглыми */
  }
  .second-image {
    width: 100%; /* Ограничиваем ширину */
    max-width: 100%; /* Предотвращаем превышение ширины экрана */
    height: 70px; /* Устанавливаем одинаковую высоту */
    margin: 0 auto;
    display: block;
    background-color: #fff;
    position: relative;
    padding: 1rem;
    box-sizing: border-box; /* Учитываем padding в ширину элемента */
    border-radius: 0 0 20px 20px; /* Делаем нижние углы круглыми */
  }

  .second-image {
    order: 2;
  }

  .sub-images {
    top: -20px;
    gap: 2.25rem;
    z-index: 2;
    width: 100%; 
    box-sizing: border-box; 
  }

  .sub-image img {
    width: 100%;
  }

  .second-image-text {
    position: relative;
    font-size: 1.3rem;
    font-weight: 900;
    z-index: 3;
  }
}

