.map_body {
  .layout {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    .buttons {
      display: block;
      max-width: 100%;
      width: 50%;
      button {
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        padding: 0.5rem;
        background-color: black;
      }
      /* Ограничение ширины балуна */
      .balloon-content {
        max-width: 300px !important;
        white-space: normal; /* Позволяет тексту переноситься на новую строку */
        overflow: hidden; /* Скрытие текста, выходящего за пределы балуна */
      }
    }
  }
}
