.map_body {
  .layout {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    .buttons {
      display: block;
      max-width: 100%;
      width: 50%;
      button {
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        padding: 0.5rem;
        background-color: black;
      }
    }
  }
}
