@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.card {
  border: 1px solid grey;
  border-radius: 1rem;
  max-width: 22.5rem;
  max-height: 25rem;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  p {
    margin-bottom: 0.5rem;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    height: 4.5em;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.0em;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid grey;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .card-title{
    margin-bottom: 0;
    height: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid grey;
    text-align: center;
  }
}
