@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.card {
  border: 1px solid grey;
  border-radius: 1rem;
  max-width: 600px;
  max-height: 600px;
  margin-left: 3.5rem;
  margin-right: 3.5rem;
  width: 360px;
  height: 400px;

  p {
    word-wrap: break-word;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 95%;
    max-width: 95%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    max-height: 40%;
    height: 4.5em; /* Высота для отображения только трех строк текста */
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Ограничение по числу строк */
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid grey;

  }
  img {
    max-height: 50%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    height: 50%;
    width: 50%;
  }
  .card-title{
    height: 10%;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 0.5rem;
    margin-bottom:0.5rem;
    border-top: 1px solid grey;
  }
}
