.navigation-bar-moderation {
    width: 200px; /* Ширина панели (можно изменить по необходимости) */
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

    /* Стили для ссылок */
    a {
        margin: 10px 0;
        text-decoration: none;
        color: #000;
        font-size: 16px;
        padding: 10px 20px;
        transition: all 0.3s ease;
        width: 100%;
        text-align: center;

        &:hover {
            background-color: #e9ecef;
            color: #000;
        }

        /* Стили для активной ссылки */
        &.active {
            background-color: #ddd; /* Цвет фона активной ссылки */
            color: #333; /* Цвет текста активной ссылки */
            font-weight: bold; /* Жирный шрифт для активной ссылки */
        }
    }
}
